@model CRUD_DOTNET8_MVC.Models.Contacto
@{
    ViewData["Title"] = "Detalles de contacto";
}

<h1 class="text-center">Directorio de contactos con .NET 8 MVC</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Detalles de usuario</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Nombre: </strong>@Html.DisplayFor(m => m.nombre)
                    </li>
                    <li class="list-group-item">
                        <strong>Celular: </strong>@Html.DisplayFor(m => m.celular)
                    </li>
                    <li class="list-group-item">
                        <strong>Correo: </strong>@Html.DisplayFor(m => m.correo)
                    </li>
                </ul>

                <a asp-controller="Inicio" asp-action="Index">Volver</a>

            </div>
        </div>
    </div>
</div>
